<div class="page-wrapper">
    <div class="row page-titles">
        <div class="col-md-12 align-self-center">
            <h2 class="text-primary">Dashboard</h2>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <dropdown :items="users"></dropdown>
                                <dropdown :items="stores"></dropdown>
                                <div class="btn-group">
                                    <button class="btn btn-primary btn-sm" type="button" @click="search">
                                        <i class="ti-search"> Search</i>
                                    </button>
                                </div>
                            </div>
                        </form>
                        <div class="table-responsive">
                            <svg class="circular" viewBox="25 25 50 50" v-if="loadingMain">
                                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
                            </svg>
                            <div id="myTable_wrapper" class="dataTables_wrapper no-footer" :class='{"loading-opacity": loadingMain}'>
                                <table id="myTable" class="table no-footer table-hover" role="grid" aria-describedby="myTable_info">
                                    <thead>
                                        <tr role="row">
                                            <th>METRICS</th>
                                            <th>TODAY</th>
                                            <th>YESTERDAY</th>
                                            <th>WTD</th>
                                            <th>MTD</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr role="row">
                                            <td>Total In</td>
                                            <td>{/ thousandFormat(summaryData.today.totalIn) /}</td>
                                            <td>{/ thousandFormat(summaryData.yesterday.totalIn) /}</td>
                                            <td>{/ thousandFormat(summaryData.wtd.totalIn) /}</td>
                                            <td>{/ thousandFormat(summaryData.mtd.totalIn) /}</td>
                                        </tr>
                                        <tr role="row">
                                            <td>Total Out</td>
                                            <td>{/ thousandFormat(summaryData.today.totalOut) /}</td>
                                            <td>{/ thousandFormat(summaryData.yesterday.totalOut) /}</td>
                                            <td>{/ thousandFormat(summaryData.wtd.totalOut) /}</td>
                                            <td>{/ thousandFormat(summaryData.mtd.totalOut) /}</td>
                                        </tr>
                                        <tr role="row">
                                            <td>Out Rate</td>
                                            <td>{/ percentageFormat(summaryData.today.outRate) /}</td>
                                            <td>{/ percentageFormat(summaryData.yesterday.outRate) /}</td>
                                            <td>{/ percentageFormat(summaryData.wtd.outRate) /}</td>
                                            <td>{/ percentageFormat(summaryData.mtd.outRate) /}</td>
                                        </tr>
                                        <tr role="row">
                                            <td>Total Bet</td>
                                            <td>{/ thousandFormat(summaryData.today.totalBet) /}</td>
                                            <td>{/ thousandFormat(summaryData.yesterday.totalBet) /}</td>
                                            <td>{/ thousandFormat(summaryData.wtd.totalBet) /}</td>
                                            <td>{/ thousandFormat(summaryData.mtd.totalBet) /}</td>
                                        </tr>
                                        <tr role="row">
                                            <td>Total Win</td>
                                            <td>{/ thousandFormat(summaryData.today.totalWin) /}</td>
                                            <td>{/ thousandFormat(summaryData.yesterday.totalWin) /}</td>
                                            <td>{/ thousandFormat(summaryData.wtd.totalWin) /}</td>
                                            <td>{/ thousandFormat(summaryData.mtd.totalWin) /}</td>
                                        </tr>
                                        <tr role="row">
                                            <td>Win Rate</td>
                                            <td>{/ percentageFormat(summaryData.today.winRate) /}</td>
                                            <td>{/ percentageFormat(summaryData.yesterday.winRate) /}</td>
                                            <td>{/ percentageFormat(summaryData.wtd.winRate) /}</td>
                                            <td>{/ percentageFormat(summaryData.mtd.winRate) /}</td>
                                        </tr>
                                        <tr role="row">
                                            <td>Total Play Times</td>
                                            <td>{/ summaryData.today.totalPlayTimes /}</td>
                                            <td>{/ summaryData.yesterday.totalPlayTimes /}</td>
                                            <td>{/ summaryData.wtd.totalPlayTimes /}</td>
                                            <td>{/ summaryData.mtd.totalPlayTimes /}</td>
                                        </tr>
                                        <tr role="row">
                                            <td>Total Win Times</td>
                                            <td>{/ summaryData.today.totalWinTimes /}</td>
                                            <td>{/ summaryData.yesterday.totalWinTimes /}</td>
                                            <td>{/ summaryData.wtd.totalWinTimes /}</td>
                                            <td>{/ summaryData.mtd.totalWinTimes /}</td>
                                        </tr>
                                        <tr role="row">
                                            <td>Hit Rate</td>
                                            <td>{/ percentageFormat(summaryData.today.hitRate) /}</td>
                                            <td>{/ percentageFormat(summaryData.yesterday.hitRate) /}</td>
                                            <td>{/ percentageFormat(summaryData.wtd.hitRate) /}</td>
                                            <td>{/ percentageFormat(summaryData.mtd.hitRate) /}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                        <svg class="circular" viewBox="25 25 50 50" v-if="loadingMain">
                            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
                        </svg>
                    <div class="card-body">
                        <div ref="summaryChart" :class='{"loading-opacity": loadingMain}'></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="">
                    <div class="card">
                        <div class="card-title">
                            <h4>Top 5 Gross Net Machine</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <svg class="circular" viewBox="25 25 50 50" v-if="loadingTop1">
                                    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
                                </svg>
                                <table class="table table-hover " v-bind:class='{"loading-opacity": loadingTop1}'>
                                    <thead>
                                        <tr>
                                            <th>Store Name</th>
                                            <th>Machine</th>
                                            <th>Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="item in topGrossNet.items">
                                            <td>{/ item.storeName /}</td>
                                            <td>
                                                <a>{/ item.machineName /}</a>
                                            </td>
                                            <td>{/ thousandFormat(item.value) /}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-title">
                            <h4>Top 5 Win Machine</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <svg class="circular" viewBox="25 25 50 50" v-if="loadingTop3">
                                    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
                                </svg>
                                <table class="table table-hover " v-bind:class='{"loading-opacity": loadingTop3}'>
                                    <thead>
                                        <tr>
                                            <th>Store Name</th>
                                            <th>Machine</th>
                                            <th>Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="item in topWin.items">
                                            <td>{/ item.storeName /}</td>
                                            <td>
                                                <a>{/ item.machineName /}</a>
                                            </td>
                                            <td>{/ thousandFormat(item.value) /}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-title">
                            <h4>Top 5 Playtimes Machine</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <svg class="circular" viewBox="25 25 50 50" v-if="loadingTop2">
                                    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
                                </svg>
                                <table class="table table-hover " v-bind:class='{"loading-opacity": loadingTop2}'>
                                    <thead>
                                        <tr>
                                            <th>Store Name</th>
                                            <th>Machine</th>
                                            <th>Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="item in topPlaytimes.items">
                                            <td>{/ item.storeName /}</td>
                                            <td>
                                                <a>{/ item.machineName /}</a>
                                            </td>
                                            <td>{/ item.value /}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>